.container {
    min-height: 100vh;
    color: red;
    text-align: center;
}

.head {
    margin: 20px auto;
}

.picture {
    height: 40vh;
    width: 50vh;
    border-radius: 6px;
    border: 1px solid wheat;
    padding: 1px;
}



@media screen and (max-width:  352px) {
    .picture {
        height: 40vh;
       width: 50vh;
    }
}