.container {
    width: 100%;
    height: 660px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

.header {
    margin-top: 18px;
}
.lyrics {
    margin-bottom: 4px;
}

.innerContainer{
   margin: 18px auto;
}

.inp {
    max-width: 240px;
    margin-bottom: 10px;
}

.found {
    margin: 10px auto;
    border: 2px solid white;
    width: 40vh;
    padding: 10px;
}

.innerPar {
    color: green;
    border-bottom: 1px gray solid;
    display: block;
    text-decoration: none;
}

.loginBtn {
    margin: 10px auto;
   width: 40vh; 
}

.overlay {
    position: sticky;
    top: 20vh;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
  }

  .backdrop {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
  }

  .modal {
    width: 75%;
    position: absolute;
    left: 12.5%;
    top: 25%;
    max-height: 90vh;
    margin: auto;
    border-radius: 8px;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
    z-index: 30;
    margin-top: 50px;
  }

  .detailContainer {
    width: 100%;
    height: 40vh;
  }

  .changeOpt {
    margin-bottom: 5px;
  }

  .btn2 {
    background: #2a87a5;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 0.25rem;
    display: flex;
    font: inherit;
    font-weight: bold;
    padding: 1px 6px;
    margin-left: auto;
  }

  .btn2:hover {
    opacity: 70%;
  }

.btn:hover {
    opacity: 70%;
}
  .content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 6px;
  }

  .success {
    color: green;
  }


  .userDetails {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .regenerationPass {
    font-size: 28px;
    text-align: center;
    margin-bottom: 1vh;
  }

  .formRegPass {
    display: flex;
    flex-direction: column;

  }

  .editBtn {
    background-color: #0d6efd;
    margin-top: 2px;
  }

  .editBtn:hover {
    opacity: 87%;
  }

  @media screen and (max-height:  670px) {
    .container {
        max-height: 670px;
    }

  }


@media screen and (max-height:  570px) {
    .container {
        max-height: 600px;
    }

}

@media screen and (max-height:  454px) {
    .container {
        max-height: 480px;
    } 

}

@media screen and (max-height:  386px) {
    .container {
        max-height: 400px;
    } 
    
}

@media screen and (max-height:  330px) {
  .found {
    width: 160px;
  } 
  
}