.container {
    color: red;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
}

.header {
    margin: 10px auto;
    text-align: center;
}

