.container {
    width: 100%;
    min-height: 660px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-bottom: 8px;
}

.formContainer {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.success {
    color: green;
}

.login {
    width: 30vh;
}

.lyrics {
    margin-bottom: 6px;
}

@media screen and (max-height:  670px) {
    .container {
        min-height: 660px;
    }

  }

@media screen and (max-height:  555px) {
    .container {
        min-height: 560px;
    } 
}

@media screen and (max-height:  520px) {
    .formContainer {
        gap: 2vh;
    }
}

@media screen and (max-height:  454px) {
    .container {
        min-height: 480px;
    } 
    .formContainer {
        font-size: 14px;
        margin-top: 1vh;
    }
    .lyrics {
        margin-bottom: 2px;
    }
}


@media screen and (max-height:  386px) {
    .container {
        min-height: 400px;
    } 
    
    .inp {
        padding: 2px 2px;
    }
}
