.container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(6, 4, 47, 0.962);
    color: white;
    padding: 8px 60px;
    position: sticky;
    border-radius: 6px;
    top: 0;
}


.innerContainer {
    display: flex;
    justify-content: space-evenly;
    gap: 4vh;
}

.pg:hover {
    cursor: pointer;
    background-color: #0b489d;
}

.pg, .pg2 {
    margin: 0;
    padding: 6px 8px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
}


.selectContainer {
    background-color: rgba(6, 4, 47, 0.962);
    color: white;
    padding: 4px;
    border: 2px white solid;
}



.selectContainer:hover {
    cursor: pointer;
    background-color: #0b489d;
}

.changeOpt {
    max-height: 40px;
    max-width: 90px;
}

.changeOptLang {
    max-height: 40px;
    max-width: 106px;
}


@media screen and (max-width: 889px) {
    .changeOptLang {
        margin-left: 1vh;
    }
   }


@media screen and (max-width: 671px) {
    .innerContainer {
        font-size: 13px;
    }
    .container {
        padding: 6px 14px;
    }
}

@media screen and (max-width: 611px) {
    .innerContainer {
        gap: 1vh;
    }
 }


@media screen and (max-width: 526px) {
.changeOpt {
max-height: 40px;
}
}

@media screen and (max-width: 526px) {
    .innerContainer {
        font-size: 11px;
    }
    .container {
        padding: 4px 12px;
    }
}

@media screen and (max-width: 493px) {
    .container {
        padding: 4px 10px;
    }
    .changeOpt {
        max-width: 76px;
    }
}

@media screen and (max-width: 493px) {
    .changeOpt {
        max-width: 68px;
    }
}

@media screen and (max-width: 424px) {
   .innerContainer {
    display: inline-block;
    font-size: 6px;
   }
   .changeOptLang {
    margin: 1vh;
}

.pg {
    margin-left: auto;
}

}

@media screen and (max-width: 370px) {
 
 .pg2 {
    font-size: 8px;
}
 
 }

 @media screen and (max-width: 354px) {
   
    .pg2 {
        font-size: 7px;
    }
    
    }










