.container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(6, 4, 47, 0.962);
    color: white;
    padding: 8px 60px;
    position: sticky;
    border-radius: 6px;
    top: 0;
}


.innerContainer {
    display: flex;
    justify-content: space-evenly;
    gap: 4vh;
}

.pg:hover {
    cursor: pointer;
    background-color: #0b489d;
}

.pg, .pg2 {
    margin: 0;
    padding: 6px 8px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
}


.selectContainer {
    background-color: rgba(6, 4, 47, 0.962);
    color: white;
    padding: 4px;
    border: 2px white solid;
}

.selectContainer:hover {
    cursor: pointer;
    background-color: #0b489d;
}

.changeOpt {
    max-height: 40px;
    max-width: 90px;
}


@media screen and (max-width: 812px) {
    .adminSelect {
        margin-right: 1vh;
      }
   }

@media screen and (max-width: 671px) {
    .innerContainer {
        font-size: 13px;
    }
    .container {
        padding: 6px 14px;
    }
}


@media screen and (max-width: 583px) {
        .innerContainer {
            gap: 1vh;
        }
     }


@media screen and (max-width: 506px) {
.changeOpt {
    max-height: 40px;
}
}

@media screen and (max-width: 452px) {
    .innerContainer {
        font-size: 11px;
    }
    .container {
        padding: 4px 12px;
    }
}

@media screen and (max-width: 430px) {
    .container {
        padding: 4px 10px;
    }
    .changeOpt {
        max-width: 76px;
    }
}

@media screen and (max-width: 410px) {
    .changeOpt {
        max-width: 68px;
    }
}





