
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}

.header {
    margin: 10px auto;
    border-bottom: 1px solid bisque;
}

.innerContainer {
    display: flex;
    flex-direction: row;
    border: 2px solid white;
    justify-content: space-between;
    align-items: center;
    gap: 4vh;
    margin: 10px 20px;
}

.imgContainer {
    border-right: 1px solid rgb(35, 31, 44);
}

.view {
    padding: 6px;
    margin: 2px;
}

.image{
    max-height: 20vh;
    max-width: 20vh;
    background-position: center;
    object-fit: cover;
    padding: 6px;
    margin: 2px;
}

.movieName {
    color: rgb(24, 163, 47);
    text-decoration: underline;
}

.sm {
    color: rgb(159, 143, 124);
    font-weight: 700;
}

.nameActors {
    display: inline-block;
}


.selectCl {
    background-color: darkgreen;
    color: wheat;
    padding: 4px;
    max-width: 300px;
    margin-right: 3vh;
    margin-left: auto;
}

.searchContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.formSearch {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
}

.formConainer {
    margin-left: 3vh;
}

.btnSearchForm {
    background-color: #0d6efd;
}

.inputSearchForm {
    border-radius: 4px;
}

.inputSearchForm:hover {
    background-color: antiquewhite;
}

.btnSearchForm:hover {
    opacity: 88%;
}


@media screen and (max-width:  703px) {
    .container {
        font-size: 14px;
    }
    .innerContainer {
        gap: 1vh; 
    }
    .image{
        max-height: 10vh;
        max-width: 10vh;
    }

  }

  @media screen and (max-width:  590px) {
    .formConainer {
        font-size: 12px;
    }

    .sortContainer {
        font-size: 12px;
    }

  }

  @media screen and (max-width:  518px) {
    .formConainer {
        font-size: 10px;
    }

    .sortContainer {
        font-size: 10px;
    }

  }


  @media screen and (max-width:  473px) {
    .container {
        font-size: 9px;
    }

    .image{
        max-height: 5vh;
        max-width: 5vh;
    }
    .categories {
        font-size: 6px;
    }

  }


  @media screen and (max-width:  466px) {
    .formConainer {
        font-size: 7px;
    }

    .sortContainer {
        font-size: 7px;
    }

  }

