.container {
    color: red;
    height: 700px;
}

.header {
    margin: 10px auto;
    text-align: center;
}


@media screen and (max-height:  640px) {
    .container {
        height: 640px;
    }

}

@media screen and (max-height:  540px) {
    .container {
        height: 540px;
    }    

}
@media screen and (max-height:  440px) {
    .container {
        height: 440px;
    }
}

@media screen and (max-height:  400px) {
    .container {
        height: 400px;
    }
}