.container {
    color: red;
    text-align: center;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
}

.picture {
    height: 60vh;
    width: 70vh;
    border-radius: 6px;
    /* border: 1px solid wheat; */
    padding: 2px;
}

.header {
    margin: 10px auto;
    text-align: center;
}

@media screen and (max-width:  352px) {
    .picture {
        height: 40vh;
       width: 50vh;
    }
}

@media screen and (max-height:  640px) {
    .container {
        height: 640px;
    }

}

@media screen and (max-height:  540px) {
    .container {
        height: 540px;
    }    

}
@media screen and (max-height:  440px) {
    .container {
        height: 440px;
    }
}

@media screen and (max-height:  400px) {
    .container {
        height: 400px;
    }
}